* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
}

body {
  margin: 0 auto;
  padding: 0;
}

.nav-bar {
  background-color: rgb(156, 203, 244);
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  h1 {
    padding: 1rem;
    font-size: clamp(1rem, 0.2857rem + 3.0476vw, 2rem);
    margin: 0;
    text-transform: uppercase;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.nav-links-grid {
  display: grid;
  grid-auto-flow: row;
  justify-content: right;
  align-content: center;

}

@media (min-width: 700px) {
  .nav-links-grid {
    grid-auto-flow: column;
    margin: 0 auto;
  }
}

.overlapping-grid {
  display: grid;
  grid-template-areas: 
    "hero";
  align-items: center;
  height: 65vh;
  max-height: 600px;
}

.overlapping-grid .image {
  /* grid-row: image-one / image-four;
  grid-column: 1 / -1; */
  grid-area: hero;
  object-fit: cover;
  height: min(65vh, 600px);
  width: 100%;
  opacity: 80%
}

.hero-content {
  grid-area: hero;
  z-index: 1;
  text-align: center;
  p {
    font-style: italic;
    font-size: clamp(1rem, 0.7143rem + 1.219vw, 1.4rem);
  }
}


.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2rem, 0.5714rem + 6.0952vw, 4rem);
}


.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.company-about {
  margin-top: 3rem;
  padding: 2rem;
  background-color: rgb(245, 235, 243);
  p {
    line-height: 140%;
    font-size: 1.2rem;
  }
  h2 {
    text-transform: uppercase;
    text-decoration-line: underline;
    text-underline-offset: 1rem;
    padding-bottom: 2rem;
  }
}

.services-grid {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  margin-top: 3rem;
  
}

@media (min-width: 718px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr)
  }
}

.service-item {
  padding: 2rem;
  border: 3px solid hsla(0, 0%, 0%, 0.833);
  background-color: rgb(246,235,243);
  p {
    line-height: 120%;
  }
}

.call-to-action {
  margin-top: 3rem;
  padding: 3rem 0;
  background-color: rgb(156,203,244);
  p {
    line-height: 120%;
  }
}

label {
  font-weight: bold;
}

.cta-grid {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}

@media screen and (min-width: 671px) {
  .cta-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cta-content {
  grid-column: span 2;
}

.cta-form {
  align-self: center;
  form {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
  }

}

.button {
  font-family: sans-serif;
  font-size: 1rem;
  background-color: rgb(246,235,243);
  transition-duration: 0.4s;
  border: none;
  color: black;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: black; /* Green */
  color: white;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-style: none;
}
